@charset "utf-8";
body {
    margin:0;
    font-size: 16px;
    font-family: '微軟正黑體','verdana';
}
#header {
    height: 350px;
    width: 860px;
}
#building {
    width: 860px;
}

h4.title,h3.title,h2.title {
    margin: 5px 0 5px 0;
}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{
    display: block;
}

.layer1 {
    padding-left: 50px;
}

.mark {
    background-color: #e65a5a;
    background-color: rgba(200,60,60,0.3);
}

div.fieldA {
    margin-left: 20px;
}

p {
    color: #05772A;
}
p.radio {
    margin: 0 0 0 0px;
    line-height: 30px;
}
p.radio:hover{
    background-color: #d1e5c2;
}
p.scale {
    margin: 5px;
    text-align: left;
}
p.checkbox {
    margin: 0;
}

table.scale {
    width:100%;
    margin:0;
}
tr:hover{
    background-color: #d1e5c2;
}
td.scale {
    border-bottom:1px solid  #ddd;
    text-align: center;
    padding: 0;
}
td.scale-title {
    vertical-align: top;
}

label {
    cursor: pointer;
}
label.scale {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
label.radio {
    display: block;
    margin: 0;
    padding: 0 10px 0 30px;
    line-height: 30px;
}
label.checkbox {
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 5px;
    height: 30px;
    line-height: 30px;
}

a.noline {
    color: #000;
    text-decoration: none;
}
a.noline:hover {
    text-decoration: underline;
}

div.checkbox {
    min-width: 48%;
    text-align: left;
    vertical-align: middle;
    margin: 0;
}
div.checkbox.less {
    min-width: 98%;
}
div.checkbox.horizontal {
    display: inline-block;
    margin-top: 2px;
    margin-left: 0.5%;
    border-radius: 5px;
    min-width: 360px;
    margin-right: 10px;
}

input.fat {
    font-size: 15px;
    padding: 5px;
    box-sizing: border-box;
}

select {
    padding: 5px;
}

input[type=radio] {
    float: left;
    height: 30px;
    margin: 0 0 0 10px;
    box-sizing: border-box;
}
input[type=radio].scale {
    float: left;
    cursor: pointer;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 30px;
}

input:checked + label {
    background-color:rgba(24,119,58,0.8);
    color:#fff;
    border-radius: 5px;
}